.znn-loading {
    position: relative;
    display: inline-block;
}

.znn-loading-content {
    z-index: 99999;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.znn-loading.znn-loading-show .znn-loading-content {
    display: block;
}

.znn-loading-circle {
    margin: 0 auto;
    width: 32px;
    height: 32px;
    position: relative;
    background-image: url(/image/defaultLoading.gif);
    background-size: 100%;
}

.znn-loading-text {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #999999;
}

.znn-loading .znn-jq-loading-inner{
    text-align: center;
}

.znn-loading.znn-loading-horizontal .znn-loading-circle{
    margin-right: 5px;
}
.znn-loading.znn-loading-horizontal .znn-loading-circle, .znn-loading.znn-loading-horizontal .znn-loading-text{
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
}

.znn-loading.znn-loading-small .znn-loading-circle{
    width: 16px;
    height: 16px;
    background-image: url(/image/smallLoading.gif);
}
.znn-loading.znn-loading-small .znn-loading-text{
    font-size: 10px;
}

.znn-loading.znn-loading-large .znn-loading-circle{
    width: 142px;
    height: 142px;
    background-image: url(/image/largeLoading.gif);
}

.znn-loading.znn-loading-large .znn-loading-text{
    font-size: 16px;
}

.znn-loading.znn-loading-progress .znn-loading-content{
    text-align: center;
}
.znn-loading.znn-loading-progress .znn-loading-content-progress{
    display: inline-block;
    position: relative;
    height: 15px;
    width: 100%;
    max-width: 200px;
    background-color: #abb2bc;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b6bcc6), color-stop(1, #9da5b0));
    background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
}

.znn-loading.znn-loading-progress .znn-loading-progress-label{
    height: 15px;
    position: relative;
    background-color: #4EAFD9;
    border-radius: 10px;
    background-size: 3em 3em;
    background-image: linear-gradient(-45deg, transparent 0em, transparent 0.8em, #2DC2E8 0.9em, #2DC2E8 2.1em, transparent 2.1em, transparent 2.9em, #2DC2E8 3.1em);
    -webkit-animation: znn-loading-animation 750ms infinite linear;
    -moz-animation: znn-loading-animation 750ms infinite linear;
    animation: znn-loading-animation 750ms infinite linear;
}
.znn-loading.znn-loading-progress .znn-loading-progress-label:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #4EAFD9, rgba(78, 175, 217, 1) 15%, transparent 60%, #4EAFD9);
}
@keyframes znn-loading-animation{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 3em 0;
    }
}
